.navLink {
  display: inline-flex;
  padding: 20px;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: transparent;
  font-weight: 500;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  transition: all 500ms;
}

.active {
  background-color: black;
  color: white;
}
